{% load main_app_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Домашняя страница</title>
</head>
<body>
<h1>Домашняя страница</h1>

<br>
{% show_main_menu %}
<br>


    {% comment %}
{% block main_menu %}
    {% for item in main_menu %}
        <li><a href="{% url item.url %}">{{ item.title }}</a></li>
    {% endfor %}
{% endblock %}
{% endcomment %}

{#{% load i18n %}#}
{#<form action="{% url 'set_language' %}" method="post">{% csrf_token %}#}
{#    <input name="next" type="hidden" value="{{ redirect_to }}">#}
{#    <select name="language">#}
{#        {% get_current_language as LANGUAGE_CODE %}#}
{#        {% get_available_languages as LANGUAGES %}#}
{#        {% get_language_info_list for LANGUAGES as languages %}#}
{#        {% for language in languages %}#}
{#            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>#}
{#                {{ language.name_local }} ({{ language.code }})#}
{#            </option>#}
{#        {% endfor %}#}
{#    </select>#}
{#    <input type="submit" value="Go">#}
{#</form>#}

</body>
</html>