{% load main_app_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сервисная страница</title>
</head>
<body>
<h1>Сервисная страница</h1>

<br>
{% show_main_menu %}
<br>

<form method="post" action="{% url 'fill_base' %}">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Добавление случайных данных в базу</button>
</form>
<p>
<form method="post" action="{% url 'clean_base' %}">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Очистить базу данных</button>
</form>

</body>
</html>