<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Служебная страница</title>
</head>
<body>
<h1>Служебная страница</h1>

<p><a href="{% url 'home_page' %}">Перейти на главную страницу</a></p>
<p>
<p><a href="{% url 'admin:index' %}">Перейти в админ панель</a></p>
<p>
<form method="post" action="{% url 'fill_base' %}">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Добавление случайных данных в базу</button>
</form>
<p>
<form method="post" action="{% url 'clean_base' %}">
    {% csrf_token %}
    {{ form }}
    <button type="submit">Очистить базу данных</button>
</form>

</body>
</html>